* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0ece3;
}

.layout {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 60px);
  background: #f0ece3;
  padding: 24px;
}

.content {
  flex: 1;
  max-width: 900px;
}

@media (max-width: 768px) {
  .layout {
    padding: 12px 12px 90px 12px;
  }
}
